<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Staff</title>
</head>
<body>
<h1>Список всех сотрудников</h1>
<table>
    <tr>
        <th>Имя</th>
        <th>День рождения</th>
        <th>Зарплата</th>
        <th>Изменить</th>
        <th>Удалить</th>
    </tr>
    <th:block th:each="employee : ${staff}">
        <tr>
            <td th:text="${employee.getFullName()}"></td>
            <td th:text="${employee.getBirthday()}"></td>
            <td th:text="${employee.getSalary()}"></td>
            <td><a th:href="@{/staff/update/{id}(id=${employee.getId()})}">Изменить</a></td>
            <td><a th:href="@{/staff/delete/{id}(id=${employee.getId()})}">Удалить</a></td>
        </tr>
    </th:block>
</table>

<br/>
<hr/>

<a href="/staff/new">Добавить нового сотрудника</a>
<a href="/department/list">Перейти к списку департаментов</a>
</body>
</html>