<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Staff</title>
</head>
<body>
<h1 th:text = "${'Список сотрудников в департаменте ' + department.getDepartmentName()}"></h1>
<table>
    <tr>
        <th>Имя</th>
        <th>День рождения</th>
        <th>Зарплата</th>
    </tr>
    <th:block th:each="employee : ${staff}">
        <tr>
            <td th:text="${employee.getFullName()}"></td>
            <td th:text="${employee.getBirthday()}"></td>
            <td th:text="${employee.getSalary()}"></td>
        </tr>
    </th:block>
</table>

<br/>
<hr/>

<a href="/department/list">Назад</a>
</body>
</html>