<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New employee</title>
</head>
<body>
<h1>Добавление нового сотрудника</h1>

<form th:method="POST" th:action = "@{/staff/update}" th:object = "${employee}">
    <input type="hidden" th:field="*{id}" id="id">
    <label for="name">ФИО: </label>
    <input type="text" th:field = "*{fullName}" id = "name"/>
    <br/>
    <label for="birthday">День рождения: </label>
    <input type="text" th:field = "*{birthday}" id = "birthday"/>
    <br/>
    <label for="salary">Зарплата: </label>
    <input type="text" th:field = "*{salary}" id = "salary"/>
    <br/>
    <label >Департамент: </label>
    <select th:field="*{department.id}">
        <option th:each = "department : ${departments}" th:value="${department.id}" th:text="${department.getDepartmentName()}"></option>
    </select>
    <br/>
    <a href="/staff/list">Отмена</a>
    <input type="submit" value="Изменить!"/>
</form>
</body>
</html>